<html>
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }

    function apiCall() {
      $("#result").html('Loading...')
      $.get("/api_call", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function revokeCall() {
      $("#result").html('Loading...')
      $.get("/api_call/revoke", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function refreshCall() {
      $("#result").html('Loading...')
      $.get("/api_call/refresh", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    
    var invoiceData = {};
    var custData = {};
    function customerCall(customerRefValue)  {
      console.log("CustomerRef.value in customerCall: " + customerRefValue);

      $("#result").html('Loading...')
      $.get("/api_call/customer"+customerRefValue, function(data) {
        custData = data;

      // Display the data on the HTML page (optional)
      $("#result").html(JSON.stringify(custData, null, 2));
      console.log(custData);
      })
      
    }

  //   function invoiceCall() {
  //   console.log("\n\n\ninside invoice call function \n\n\n");
  //   $("#result").html('Loading...');
  //   $.get("/api_call/invoice", function(data) {
  //     // Save the data to the invoiceData variable
  //     invoiceData = data.QueryResponse.Invoice[0];

  //     // Display the data on the HTML page (optional)
  //     $("#result").html(JSON.stringify(invoiceData, null, 2));

  //     // You can now use the invoiceData variable elsewhere in your code
  //     // For example, you can access specific properties like invoiceData.DocNumber, invoiceData.CustomerRef, etc.

  //     console.log("result received for invoice : " + JSON.stringify(invoiceData, null, 2));

  //     // Call the customerCall function here to use the invoiceData
  //     customerCall(invoiceData.CustomerRef.value);
  //   });

  // }
  

  function getBoardData() {
    console.log("inside get board data")
  $("#boardDataResult").html('Loading...');
  // Make a GET request to the new route on your server to get board data
  $.get("api_call/get_board_data", function (data) {
    // Display the data on the HTML page
    $("#boardDataResult").html(JSON.stringify(data, null, 2));
  }).fail(function (error) {
    console.error("Error while getting board data:", error);
    $("#boardDataResult").html('Error: ' + JSON.stringify(error));
  });
}


  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Connected!</h3>
  <p>Welcome<% if (locals.givenName) { %>, <%= locals.givenName %><% } %>!</p>
  <p>Would you like to make a sample API call?</p>
  <div>
    <button onclick="apiCall()">QuickBooks API Call</button>
    <button onclick="invoiceCall()">Invoice Call</button>
    <button onclick="refreshCall()">Refresh Token Call</button>
    <button onclick="revokeCall()">Revoke Token Call</button>
    <button onclick="getBoardData()">Get Board Data</button>
<br><br>
<div><code id="boardDataResult"></code></div>

    <br><br>
    <div><code id="result"></code></div>
</body>
</html>
