<!-- views/home.ejs -->
<form method="post" action="/submit">
  <label for="accessToken">Access Token:</label>
  <input type="text" id="accessToken" name="accessToken" required /><br />

  <!-- <label for="boardName">Board Name:</label>
  <input type="text" id="boardName" name="boardName" required /><br /> -->

  <button type="submit">Submit</button>
</form>
