<!DOCTYPE html>
<html>
  <head>
    <title>OAuth Settings</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
      }
      .container {
        width: 700px;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      .form-group {
        margin-bottom: 15px;
      }
      label {
        font-weight: bold;
        width: 20%;
      }
      input {
        width: 50%;
        padding: 8px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
      }
      button {
        background-color: #00c853;
        border-color: #00c853;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #008040;
      }
      .input-group-icon {
        position: relative;
        display: flex;
        align-items: center;
      }
      .input-guide {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>OAuth Settings</h1>
      <form action="/submitOAuthSettings" method="post">
        <div class="form-group">
          <div class="input-group-icon">
            <label for="client-id">Client ID</label>
            <input
              type="text"
              placeholder="AB37yKv4EQyx7mBVPdVDVPJn4RLoAGE4YkBWoWm6ZUqvyFR8RP"
              class="form-control"
              id="client-id"
              name="client-id"
              required
            />
            &nbsp;
            <i class="fa fa-question-circle" id="id-icon"></i>
            <div class="input-guide" id="id-guide">
              You can get your client id from
              <a
                href="https://developer.intuit.com/app/developer/appdetail/test/keys?appId=djQuMTo6OGQzYmJlYTI3Yg:ab8b0d2a-0e01-4b83-8f54-6f04bea8c9e9"
                target="_blank"
              >
                intuit Developer&gt;&gt;My Apps Dashboard&gt;&gt;Your
                App&gt;&gt;Keys and Credentials
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-icon">
            <label for="client-secret">Client Secret</label>
            <input
              type="text"
              placeholder="0ZYUyGRnnDwQzRNDq9wbU8JzUoDJSUR41QeTpqJQ"
              class="form-control"
              id="client-secret"
              name="client-secret"
              required
            />
            &nbsp;
            <i class="fa fa-question-circle" id="sec-icon"></i>
            <div class="input-guide" id="sec-guide">
              You can get your client secret from
              <a
                href="https://developer.intuit.com/app/developer/appdetail/test/keys?appId=djQuMTo6OGQzYmJlYTI3Yg:ab8b0d2a-0e01-4b83-8f54-6f04bea8c9e9"
                target="_blank"
              >
                intuit Developer&gt;&gt;My Apps Dashboard&gt;&gt;Your
                App&gt;&gt;Keys and Credentials
              </a>
            </div>
          </div>
        </div>
        <h5>
          Add this RedirectURI http://localhost:3000/callback in your Redirect
          URIs
        </h5>
        <br /><br />
        <button type="submit">Save Settings</button>
      </form>
    </div>
  </body>
  <script>
    const idicon = document.getElementById("id-icon");
    const idguide = document.getElementById("id-guide");

    idicon.addEventListener("click", () => {
      idguide.style.display =
        idguide.style.display === "block" ? "none" : "block";
    });
    const secIcon = document.getElementById("sec-icon");
    const secGuide = document.getElementById("sec-guide");

    secIcon.addEventListener("click", () => {
      secGuide.style.display =
        secGuide.style.display === "block" ? "none" : "block";
    });
  </script>
</html>
