<!DOCTYPE html>
<html>
  <head>
    <title>OAuth Settings</title>
    <!-- Add Bootstrap CSS link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      /* Add custom styles */
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
      }
      .container {
        width: 400px;
        padding: 20px;
        background-color: #f5f5f5; /* Dark background color */
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      .form-group {
        margin-bottom: 15px;
      }
      label {
        font-weight: bold;
      }
      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
      }
      button {
        background-color: #00c853;
        border-color: #00c853;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #008040;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>OAuth Settings</h1>
      <form action="/submitOAuthSettings" method="post">
        <div class="form-group">
          <label for="clientId">Client ID:</label>
          <input
            type="text"
            id="clientId"
            name="clientId"
            placeholder="AB37yKv4EQyx7mBVPdVDVPJn4RLoAGE4YkBWoWm6ZUqvyFR8RP"
            required
          />
        </div>
        <div class="form-group">
          <label for="clientSecret">Client Secret:</label>
          <input
            type="text"
            id="clientSecret"
            name="clientSecret"
            placeholder="0ZYUyGRnnDwQzRNDq9wbU8JzUoDJSUR41QeTpqJQ"
            required
          />
        </div>
        <div class="form-group">
          <label for="redirectUri">Redirect URI:</label>
          <input
            type="text"
            id="redirectUri"
            name="redirectUri"
            placeholder="http://localhost:3000/callBack"
            required
          />
        </div>
        <button type="submit">Save Settings</button>
      </form>
    </div>
  </body>
</html>
